div#main {
position:relative;
top:0px;
left:0px;
height:85%;
width:100%;
}

div#pane {
position:relative;
top:0px;
height:75%;
width:13%;
float:left;
display:inline;
margin-bottom:5px;
border-width:3px;
border-radius:5px;
border-style:outset;
background-color:LightGray;
border-color:Gainsboro;
}

div#maker {
position:relative;
top:0px;
height:75%;
width:75%;
float:right;
display:inline;
margin-bottom:5px;
border-width:3px;
border-style:solid;
background-color:white;
border-color:SteelBlue;
} 

div#pagehtml {
position:absolute;
top:85%;
height:43%;
width:50%;
margin-bottom:5px;
border-width:3px;
border-style:solid;
border-color:SteelBlue;
}

div#optionsmenu {
position:absolute;
top:85%;
left: 52%;
height:43%;
width:47%;
margin-bottom:5px;
border-width:3px;
border-radius:5px;
border-style:outset;
background-color:LightGray;
border-color:Gainsboro;
}

div#text2 {
position:absolute;
top:81%;
}

span#spacing {
position:relative;
left:10%;
}

span#spacing2 {
position:relative;
left: 383%;
}

.paneobject {
position:relative;
top:5%;
left:5%;
z-index:1;
/height:50px;
/width:10px;
}

.inpage {
z-index:1;
}

textarea#pagehtml {
position:absolute;
width:100%;
height:100%;
resize:none;
border-style:none;
font-family: Gill Sans, sans-serif;
z-index:1;
}

#colorslider {
z-index:2;
}

.edit {
border-style:inset;
border-width:2px;
border-color:red;
}

button.paneobject{
  border-style:outset;
  border-radius:2px;
  font-family: Gill Sans, sans-serif;

  
}

button.paneobject:hover, button.paneobject:active{
  border-style:inset;
  border-radius:2px;
  font-family: Gill Sans, sans-serif;
}

body{
    background-color:WhiteSmoke;
    font-family: Gill Sans, sans-serif;
    font-color:DimGray;
    font-size: 15px;
    font-style:bold;
    text-shadow: 2px 2px LightSteelBlue;
}

h1{
font-family: ‘Arial Black’, Gadget, sans-serif;
font-style:bold;
font-color:DimGray;
font-size: 45px;
text-shadow: 3px 3px LightSteelBlue;
}

div#tools{
position:relative;
top:2%;
left:75%;
height:71%;
width:5%;
float:right;
display:inline;
margin-bottom:5px;
border-width:3px;
border-radius:5px;
border-style:outset;
background-color:LightGray;
border-color:Gainsboro;
}

img#toolopen{
position:relative;
top:50%;
}
