@header-color: #412B8F;
@body-color: #FF7400;
@background-color: #009999;
@base-width: 10%;

body{
background-color: fade(@background-color, 50%);
}

.title{
color: @header-color;
text-align: center;
}

body{
.title;
color: @body-color;
}

img{
width: @base-width;
position: relative;
left: 10px;
}

img:hover {
width: (@base-width * 2);
}
