body {
  background-color: rgba(0, 153, 153, 0.5);
}
.title {
  color: #412b8f;
  text-align: center;
}
body {
  color: #412b8f;
  text-align: center;
  color: #ff7400;
}
img {
  width: 10%;
  position: relative;
  left: 10px;
}
img:hover {
  width: 20%;
}
