<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<link rel="stylesheet" type"test/css" href="../static/styles.css"></link>
<p><h4>{{ ratername }}</h4></p>
<b>{{ message }}</b>
<br>
<hr>
<form action = "" method = "POST">
<p><b>{{ mem1 }}</b></p>
<p>{{ q1 }}</p>
<input type=radio name=mem1q1 value = 0>0</input>
<input type=radio name=mem1q1 value = 1>1</input>
<input type=radio name=mem1q1 value = 2>2</input>
<input type=radio name=mem1q1 value = 3>3</input>
<input type=radio name=mem1q1 value = 4>4</input>
<input type=radio name=mem1q1 value = 5>5</input>
<input type=radio name=mem1q1 value = 6>6</input>
<input type=radio name=mem1q1 value = 7>7</input>
<input type=radio name=mem1q1 value = 8>8</input>
<input type=radio name=mem1q1 value = 9>9</input>

<p>{{ q2 }}</p>
<input type=radio name=mem1q2 value = 0>0</input>
<input type=radio name=mem1q2 value = 1>1</input>
<input type=radio name=mem1q2 value = 2>2</input>
<input type=radio name=mem1q2 value = 3>3</input>
<input type=radio name=mem1q2 value = 4>4</input>
<input type=radio name=mem1q2 value = 5>5</input>
<input type=radio name=mem1q2 value = 6>6</input>
<input type=radio name=mem1q2 value = 7>7</input>
<input type=radio name=mem1q2 value = 8>8</input>
<input type=radio name=mem1q2 value = 9>9</input>

<p>{{ q3 }}</p>
<input type=radio name=mem1q3 value = 0>0</input>
<input type=radio name=mem1q3 value = 1>1</input>
<input type=radio name=mem1q3 value = 2>2</input>
<input type=radio name=mem1q3 value = 3>3</input>
<input type=radio name=mem1q3 value = 4>4</input>
<input type=radio name=mem1q3 value = 5>5</input>
<input type=radio name=mem1q3 value = 6>6</input>
<input type=radio name=mem1q3 value = 7>7</input>
<input type=radio name=mem1q3 value = 8>8</input>
<input type=radio name=mem1q3 value = 9>9</input>

<p>{{ q4 }}</p>
<input type=radio name=mem1q4 value = 0>0</input>
<input type=radio name=mem1q4 value = 1>1</input>
<input type=radio name=mem1q4 value = 2>2</input>
<input type=radio name=mem1q4 value = 3>3</input>
<input type=radio name=mem1q4 value = 4>4</input>
<input type=radio name=mem1q4 value = 5>5</input>
<input type=radio name=mem1q4 value = 6>6</input>
<input type=radio name=mem1q4 value = 7>7</input>
<input type=radio name=mem1q4 value = 8>8</input>
<input type=radio name=mem1q4 value = 9>9</input>

<hr>

<p><b>{{ mem2 }}</b></p>
<p>{{ q1 }}</p>
<input type=radio name=mem2q1 value = 0>0</input>
<input type=radio name=mem2q1 value = 1>1</input>
<input type=radio name=mem2q1 value = 2>2</input>
<input type=radio name=mem2q1 value = 3>3</input>
<input type=radio name=mem2q1 value = 4>4</input>
<input type=radio name=mem2q1 value = 5>5</input>
<input type=radio name=mem2q1 value = 6>6</input>
<input type=radio name=mem2q1 value = 7>7</input>
<input type=radio name=mem2q1 value = 8>8</input>
<input type=radio name=mem2q1 value = 9>9</input>
<p>{{ q2 }}</p>
<input type=radio name=mem2q2 value = 0>0</input>
<input type=radio name=mem2q2 value = 1>1</input>
<input type=radio name=mem2q2 value = 2>2</input>
<input type=radio name=mem2q2 value = 3>3</input>
<input type=radio name=mem2q2 value = 4>4</input>
<input type=radio name=mem2q2 value = 5>5</input>
<input type=radio name=mem2q2 value = 6>6</input>
<input type=radio name=mem2q2 value = 7>7</input>
<input type=radio name=mem2q2 value = 8>8</input>
<input type=radio name=mem2q2 value = 9>9</input>
<p>{{ q3 }}</p>
<input type=radio name=mem2q3 value = 0>0</input>
<input type=radio name=mem2q3 value = 1>1</input>
<input type=radio name=mem2q3 value = 2>2</input>
<input type=radio name=mem2q3 value = 3>3</input>
<input type=radio name=mem2q3 value = 4>4</input>
<input type=radio name=mem2q3 value = 5>5</input>
<input type=radio name=mem2q3 value = 6>6</input>
<input type=radio name=mem2q3 value = 7>7</input>
<input type=radio name=mem2q3 value = 8>8</input>
<input type=radio name=mem2q3 value = 9>9</input>
<p>{{ q4 }}</p>
<input type=radio name=mem2q4 value = 0>0</input>
<input type=radio name=mem2q4 value = 1>1</input>
<input type=radio name=mem2q4 value = 2>2</input>
<input type=radio name=mem2q4 value = 3>3</input>
<input type=radio name=mem2q4 value = 4>4</input>
<input type=radio name=mem2q4 value = 5>5</input>
<input type=radio name=mem2q4 value = 6>6</input>
<input type=radio name=mem2q4 value = 7>7</input>
<input type=radio name=mem2q4 value = 8>8</input>
<input type=radio name=mem2q4 value = 9>9</input>
<hr>

<p><b>{{ mem3 }}</b></p>
<p>{{ q1 }}</p>
<input type=radio name=mem3q1 value = 0>0</input>
<input type=radio name=mem3q1 value = 1>1</input>
<input type=radio name=mem3q1 value = 2>2</input>
<input type=radio name=mem3q1 value = 3>3</input>
<input type=radio name=mem3q1 value = 4>4</input>
<input type=radio name=mem3q1 value = 5>5</input>
<input type=radio name=mem3q1 value = 6>6</input>
<input type=radio name=mem3q1 value = 7>7</input>
<input type=radio name=mem3q1 value = 8>8</input>
<input type=radio name=mem3q1 value = 9>9</input>
<p>{{ q2 }}</p>
<input type=radio name=mem3q2 value = 0>0</input>
<input type=radio name=mem3q2 value = 1>1</input>
<input type=radio name=mem3q2 value = 2>2</input>
<input type=radio name=mem3q2 value = 3>3</input>
<input type=radio name=mem3q2 value = 4>4</input>
<input type=radio name=mem3q2 value = 5>5</input>
<input type=radio name=mem3q2 value = 6>6</input>
<input type=radio name=mem3q2 value = 7>7</input>
<input type=radio name=mem3q2 value = 8>8</input>
<input type=radio name=mem3q2 value = 9>9</input>
<p>{{ q3 }}</p>
<input type=radio name=mem3q3 value = 0>0</input>
<input type=radio name=mem3q3 value = 1>1</input>
<input type=radio name=mem3q3 value = 2>2</input>
<input type=radio name=mem3q3 value = 3>3</input>
<input type=radio name=mem3q3 value = 4>4</input>
<input type=radio name=mem3q3 value = 5>5</input>
<input type=radio name=mem3q3 value = 6>6</input>
<input type=radio name=mem3q3 value = 7>7</input>
<input type=radio name=mem3q3 value = 8>8</input>
<input type=radio name=mem3q3 value = 9>9</input>
<p>{{ q4 }}</p>
<input type=radio name=mem3q4 value = 0>0</input>
<input type=radio name=mem3q4 value = 1>1</input>
<input type=radio name=mem3q4 value = 2>2</input>
<input type=radio name=mem3q4 value = 3>3</input>
<input type=radio name=mem3q4 value = 4>4</input>
<input type=radio name=mem3q4 value = 5>5</input>
<input type=radio name=mem3q4 value = 6>6</input>
<input type=radio name=mem3q4 value = 7>7</input>
<input type=radio name=mem3q4 value = 8>8</input>
<input type=radio name=mem3q4 value = 9>9</input>
<hr>

<p><input class = "submit_button" type = "submit" value = "Submit"></p>
</form>

</html>
